<div><i class="fas fa-bars"></i> <h2>filter</h2> </div>


{{#each pokemon}}
<a href="/pokemons/{{this.id}}"><img src="{{this.sprites.front_default}}"></a>

<h1>{{this.name}}</h1>
{{/each}}

<a href="/pokemons/">Page 1</a>
<a href="/pokemons/1">Page 2</a>
<a href="/pokemons/2">Page 3</a>
<a href="/pokemons/3">Page 4</a>
<a href="/pokemons/4">Page 5</a>
<a href="/pokemons/5">Page 6</a>
<a href="/pokemons/6">Page 7</a>
<a href="/pokemons/7">Page 8</a>
<a href="/pokemons/8">Page 9</a>
<a href="/pokemons/9">Page 10</a>

 <footer>
      <div class="footer-container">
      <a href="/"><img  src="images/layout/bleu-poke.png" alt=""></a>
        <p>Return</p> 
      </div>
    </footer>