<div><i class="fas fa-bars"></i> <h2>filter</h2> </div>


{{#each pokemon}}
<a href="/pokemons/{{this.id}}"><img src="{{this.sprites.front_default}}"></a>

<h1>{{this.name}}</h1>
{{/each}}

<a href="/pokemons/">Page 1</a>
<a href="/pokemons/1">Page 2</a>
<a href="/pokemons/2">Page 3</a>
<a href="/pokemons/3">Page 4</a>
<a href="/pokemons/4">Page 5</a>

 <footer>
      <div class="footer-container">
      <a href="/"><img  src="images/layout/bleu-poke.png" alt=""></a>
        <p>Return</p> 
      </div>
    </footer>