<div><i class="fas fa-bars"></i> <h2>filter</h2> </div>


{{#each pokemon}}
<a href="/pokemons/{{this.id}}"><img src="{{this.sprites.front_default}}"></a>

<h1>{{this.name}}</h1>
{{/each}}

<a href="/pokemons/">Page 1</a>
<a href="/pokemons/01">Page 2</a>
<a href="/pokemons/02">Page 3</a>
<a href="/pokemons/03">Page 4</a>
<a href="/pokemons/04">Page 5</a>
<a href="/pokemons/05">Page 6</a>
<a href="/pokemons/06">Page 7</a>
<a href="/pokemons/07">Page 8</a>
<a href="/pokemons/08">Page 9</a>
<a href="/pokemons/09">Page 10</a>

 