<div><i class="fas fa-bars"></i> <h2>filter</h2> </div>


{{#each pokemon}}
<a href="/pokemons/{{this.id}}"><img src="{{this.sprites.front_default}}"></a>

<h1>{{this.name}}</h1>
{{/each}}

 <footer>
      <div class="footer-container">
      <a href="/"><img  src="images/layout/bleu-poke.png" alt=""></a>
        <p>Return</p> 
      </div>
    </footer>