
<section class="pokemons-wrapper">

{{#each pokemon}}

<div class="pokemons">

<a href="/pokemons/{{this.id}}"><img src="{{this.sprites.front_default}}"></a>
<h1>{{this.name}}</h1>

</div>

{{/each}}
</section>

<div class="page-list">

<a href="/pokemons/"> 1</a>
<a href="/pokemons/01"> 2</a>
<a href="/pokemons/02"> 3</a>
<a href="/pokemons/03"> 4</a>
<a href="/pokemons/04"> 5</a>
<a href="/pokemons/05"> 6</a>
<a href="/pokemons/06"> 7</a>
<a href="/pokemons/07"> 8</a>
<a href="/pokemons/08"> 9</a>
<a href="/pokemons/09"> 10</a>
<a href="/pokemons/010"> 11</a>

</div>
 
