<img src="pokemon img" alt="">

<div>
  <h1>No.{{this._id}}</h1>

  <h2>type:</h2>
  <h2>abilities :</h2>
  <h2>generation:</h2>
  <h2>région:</h2>
<div>
  <img src="add to list" alt="">
</div>

</div>

 <footer>
      <div class="footer-container">
      <a href="/pokemons"><img  src="images/layout/bleu-poke.png" alt=""></a>
        <p>Return</p> 
      </div>
    </footer>