<div class="index-background">
  <a href="/pokemons"><img src="pokeball" alt=""></a>
</div>
 <footer>
      <div class="footer-container">
    
        <p>Designed by : Pauline Antoine Yuka 2021 © </p> 
      </div>
    </footer>