<div class="index-background">
  <a href="/pokemons"><img src="pokeball" alt=""></a>
</div>

 <footer>
      <div class="footer-container">
      <a href="/pokemons"><img  src="images/layout/bleu-poke.png" alt=""></a>
        <p>Create <br> your fav pokemon list !</p> 
      </div>
    </footer>