<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  </head>
  <body>
    <div class="header-wrapper">   
      <a href="/pokemons"><img id="pokedex-logo" src="images/layout/pokedex-logo.png" alt=""></a>
   
    <nav>
      <a href="/signin">Signin</a>
      <a href="/user"><i class="fas fa-user"></i></a>
    </nav></div>
    

    {{{body}}}

   
  </body>
</html>
