@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 14px 'Press Start 2P', cursive;

a {
  color: #00B7FF;
}
