<section class="form-container">
<form method="post" action="/users/edit/{{_id}}" id="form_user" enctype="multipart/form-data">
    <div class="form">
      <label for="pseudo" class="label-ref label">Pseudo</label>
      <input id="pseudo" name="pseudo" type="text" class="input-text input" required value="{{pseudo}}">
    </div>
    <div class="form">
      <label for="avatar" class="label-ref label">Avatar</label>
      <input type="file" id="avatar" name="avatar" class="input-text input">
    </div>
       <div class="form">
      <label for="email" class="label-ref label">Email</label>
      <input id="email" name="email" type="email" class="input-text input" placeholder="SachaBourville@outlook.com" required value="yo@gui.com">
    </div>
    <div class="form">
    <label for="region" class="label-ref label">Region</label>
    <select name="region" id="region" class="input-text input">
        <option selected value="Kanto">Kanto</option>
        <option value="Johto">Johto</option>
        <option value="Hoenn">Hoenn</option>
        <option value="Sinnoh">Sinnoh</option>
        <option value="Unys">Unys</option>
        <option value="Kalos">Kalos</option>
        <option value="Alola">Alola</option>
        <option value="Galar">Galar</option>
    </select>
    </div>
    
    <button class="btn">Update !</button>
  </form>
</section>


<footer>
      <div class="footer-container">
      <a href="/users"><img  src="/images/layout/bleu-poke.png" alt=""></a>
        <p>Return</p> 
      </div>
    </footer>