<form action="/users/edit/{{pokemon._id}}/pokemon" method="post">
   <div class="form-item-wrapper flexed-item">
      <label for="name" class="label-ref label">Name</label>
      <input id="name" name="name" type="text" class="input-text input" value="{{pokemon.name}}"  required>
</div>
<button>change !</button>
</form>